body,
html {
  width: 100%;
  height: 100%;
  font-family: 'Montserrat', sans-serif;
  background: url(Cafe2.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

h1 {
  font-size: 3rem;
  color: #E7D992

}

hr {
  border-color: #E7D992;
  border-width: 3px;
  max-width: 65px;
}

.buffer {
  height: 10rem;

}

.btn {
  font-weight: 700;
  border-radius: 300px;
  text-transform: uppercase;
}

.btn-outline-secondary:hover {
background-color: #E7D992;
border-color: #E7D992;
border-width: 4px;
}

.btn-outline-secondary {
  background-color: #E7D992;
  border-color: #E7D992;
}

.btn-xl {
  padding: 1rem 2rem;
}

